In [73]:
import pandas as pd

In [74]:
df = pd.read_csv('movie.csv')
df.head()

,title,year,color,content_rating,duration,director_name,director_fb,actor1,actor1_fb,actor2,...,actor3_fb,gross,genres,num_reviews,num_voted_users,plot_keywords,language,country,budget,imdb_score
0,Avatar,2009.0,Color,PG-13,178.0,James Cameron,0.0,CCH Pounder,1000.0,Joel David Moore,...,855.0,760505847.0,Action|Adventure|Fantasy|Sci-Fi,723.0,886204,avatar|future|marine|native|paraplegic,English,USA,237000000.0,7.9
1,Pirates of the Caribbean: At World's End,2007.0,Color,PG-13,169.0,Gore Verbinski,563.0,Johnny Depp,40000.0,Orlando Bloom,...,1000.0,309404152.0,Action|Adventure|Fantasy,302.0,471220,goddess|marriage ceremony|marriage proposal|pi...,English,USA,300000000.0,7.1
2,Spectre,2015.0,Color,PG-13,148.0,Sam Mendes,0.0,Christoph Waltz,11000.0,Rory Kinnear,...,161.0,200074175.0,Action|Adventure|Thriller,602.0,275868,bomb|espionage|sequel|spy|terrorist,English,UK,245000000.0,6.8
3,The Dark Knight Rises,2012.0,Color,PG-13,164.0,Christopher Nolan,22000.0,Tom Hardy,27000.0,Christian Bale,...,23000.0,448130642.0,Action|Thriller,813.0,1144337,deception|imprisonment|lawlessness|police offi...,English,USA,250000000.0,8.5
4,Star Wars: Episode VII - The Force Awakens,NaN,NaN,NaN,NaN,Doug Walker,131.0,Doug Walker,131.0,Rob Walker,...,NaN,NaN,Documentary,NaN,8,NaN,NaN,NaN,NaN,7.1

In [75]:
# df.notna().sum()
df.isnull().sum()

title                0
year               106
color               19
content_rating     300
duration            15
director_name      102
director_fb        102
actor1               7
actor1_fb            7
actor2              13
actor2_fb           13
actor3              23
actor3_fb           23
gross              862
genres               0
num_reviews         49
num_voted_users      0
plot_keywords      152
language            12
country              5
budget             484
imdb_score           0
dtype: int64

In [76]:
df.shape

(4916, 22)

In [77]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4916 entries, 0 to 4915
Data columns (total 22 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   title            4916 non-null   object
 1   year             4810 non-null   float64
 2   color            4897 non-null   object
 3   content_rating   4616 non-null   object
 4   duration         4901 non-null   float64
 5   director_name    4814 non-null   object
 6   director_fb      4814 non-null   float64
 7   actor1           4909 non-null   object
 8   actor1_fb        4909 non-null   float64
 9   actor2           4903 non-null   object
 10  actor2_fb        4903 non-null   float64
 11  actor3           4893 non-null   object
 12  actor3_fb        4893 non-null   float64
 13  gross            4054 non-null   float64
 14  genres           4916 non-null   object
 15  num_reviews      4867 non-null   float64
 16  num_voted_users  4916 non-null   int64
 17  plot_keywords    4764 non-null   object
 18  language         4904 non-null   object
 19  country          4911 non-null   object
 20  budget           4432 non-null   float64
 21  imdb_score       4916 non-null   float64
dtypes: float64(10), int64(1), object(11)
memory usage: 845.1+ KB

### TASK 1 : Segregate movies with actors, imdb score more 6 less 8.1,

In [78]:
df1 =df[(df['imdb_score']>6) & (df['imdb_score']<8.1) ]

In [79]:
df1.head()

,title,year,color,content_rating,duration,director_name,director_fb,actor1,actor1_fb,actor2,...,actor3_fb,gross,genres,num_reviews,num_voted_users,plot_keywords,language,country,budget,imdb_score
0,Avatar,2009.0,Color,PG-13,178.0,James Cameron,0.0,CCH Pounder,1000.0,Joel David Moore,...,855.0,760505847.0,Action|Adventure|Fantasy|Sci-Fi,723.0,886204,avatar|future|marine|native|paraplegic,English,USA,237000000.0,7.9
1,Pirates of the Caribbean: At World's End,2007.0,Color,PG-13,169.0,Gore Verbinski,563.0,Johnny Depp,40000.0,Orlando Bloom,...,1000.0,309404152.0,Action|Adventure|Fantasy,302.0,471220,goddess|marriage ceremony|marriage proposal|pi...,English,USA,300000000.0,7.1
2,Spectre,2015.0,Color,PG-13,148.0,Sam Mendes,0.0,Christoph Waltz,11000.0,Rory Kinnear,...,161.0,200074175.0,Action|Adventure|Thriller,602.0,275868,bomb|espionage|sequel|spy|terrorist,English,UK,245000000.0,6.8
4,Star Wars: Episode VII - The Force Awakens,NaN,NaN,NaN,NaN,Doug Walker,131.0,Doug Walker,131.0,Rob Walker,...,NaN,NaN,Documentary,NaN,8,NaN,NaN,NaN,NaN,7.1
5,John Carter,2012.0,Color,PG-13,132.0,Andrew Stanton,475.0,Daryl Sabara,640.0,Samantha Morton,...,530.0,73058679.0,Action|Adventure|Sci-Fi,462.0,212204,alien|american civil war|male nipple|mars|prin...,English,USA,263700000.0,6.6

In [80]:
df1 = df1[['title','actor1', 'actor2', 'imdb_score']]

In [81]:
df1.head()

,title,actor1,actor2,imdb_score
0,Avatar,CCH Pounder,Joel David Moore,7.9
1,Pirates of the Caribbean: At World's End,Johnny Depp,Orlando Bloom,7.1
2,Spectre,Christoph Waltz,Rory Kinnear,6.8
4,Star Wars: Episode VII - The Force Awakens,Doug Walker,Rob Walker,7.1
5,John Carter,Daryl Sabara,Samantha Morton,6.6

### TASK 2 : Segregate movies initial ten rows with condition actor2_fb less than 300 more than 11000

In [83]:
df2= df[(df['actor2_fb']<300) | (df['actor2_fb']>11000)]
df2= df2[['title', 'actor2_fb']].iloc[0:10, :]

In [84]:
df2

                                         title  actor2_fb
3                        The Dark Knight Rises    23000.0
4   Star Wars: Episode VII - The Force Awakens       12.0
8                      Avengers: Age of Ultron    21000.0
16    The Chronicles of Narnia: Prince Caspian      216.0
17                                The Avengers    21000.0
26                                     Titanic    14000.0
27                  Captain America: Civil War    19000.0
33                         Alice in Wonderland    25000.0
38                   Oz the Great and Powerful    15000.0
45                                   Furious 7    23000.0

In [82]:
# X = df[df['actor2_fb'] <300]
# Y = df[df['actor2_fb'] >11000]
# df2 = pd.concat([X, Y] ,axis=0)
# df2
# df2[['title', 'actor2_fb']].loc[]

### Task 3 : Sort the data complete set by director names

In [87]:
df3 = df.sort_values(by = 'director_name')
df3.head()

,title,year,color,content_rating,duration,director_name,director_fb,actor1,actor1_fb,actor2,...,actor3_fb,gross,genres,num_reviews,num_voted_users,plot_keywords,language,country,budget,imdb_score
4498,The Helix... Loaded,2005.0,Color,R,97.0,A. Raven Cruz,0.0,Scott Levy,639.0,Vanilla Ice,...,94.0,NaN,Action|Adventure|Comedy|Fantasy|Sci-Fi,3.0,534,cnn reporter|ellipsis in title|matrix|punctuat...,English,USA,1000000.0,1.9
4221,Circle,2015.0,Color,Not Rated,87.0,Aaron Hann,0.0,Jordi Vilasuso,160.0,Michael McLafferty,...,94.0,NaN,Drama|Horror|Mystery|Sci-Fi|Thriller,29.0,13279,alien abduction|debate|lesbian|pregnant|spaceship,English,USA,NaN,6.0
3430,Get Low,2009.0,Color,PG-13,100.0,Aaron Schneider,11.0,Bill Murray,13000.0,Robert Duvall,...,970.0,9176553.0,Drama|Mystery,160.0,19147,funeral|funeral home|hermit|party|secret,English,USA,7500000.0,7.1
2156,Date Movie,2006.0,Color,PG-13,85.0,Aaron Seltzer,64.0,Alyson Hannigan,3000.0,Carmen Electra,...,729.0,48546578.0,Comedy|Romance,99.0,50415,female protagonist|greek|overweight|spoof|wedd...,English,USA,20000000.0,2.7
2862,The Funeral,1996.0,Color,R,99.0,Abel Ferrara,220.0,Isabella Rossellini,812.0,Vincent Gallo,...,599.0,1227324.0,Crime|Drama,48.0,6921,1930s|madness|murder|new york city|violence,English,USA,12500000.0,6.6

In [88]:
df1.to_csv('imbd_score.csv')
df2.to_csv('actor2_fb.csv')
df3.to_csv('sort_director.csv')