# Perform the following analysis on the provided file "demo.csv".


## 1. Which month saw the highest joining of the employees

   function name: max_joinings_month()
   
   inputs: DataFrame
   
   outputs: str
   
   
## 2. What is the mean salary is the state KS
   
   function name: mean_ks_salary()
   
   inputs: DataFrame
   
   outputs: float
   
   
## 3. Which Region has highest mean salary
   
   function name: max_mean_salary_region()
   
   inputs: DataFrame
   
   outputs: str
   
   
## 4. Which region has lowest mean salary
   
   function name: min_mean_salary_region()
   
   inputs: DataFrame
   
   outputs: str
   
   
## 5. Which City has highest mean weight
   
   function name: max_mean_weight_city()
   
   inputs: DataFrame
   
   outputs: str
   
   
## 6. What is the difference between mean salary of Doctors and Professors
   
   function name: dr_prof_mean_salary_diff()
   
   inputs: DataFrame
   
   outputs: float
   
   
## 7. How many female use yahoo
   
   function name: females_with_yahoo()
   
   inputs: DataFrame
   
   outputs: int
   
   
## 8. How many Doctors use gmail
   
   function name: doctors_with_gmail()
   
   inputs: DataFrame
   
   outputs: int
   
   
## 9. What is the password of the youngest male
   
   function name: youngest_male_password()
   
   inputs: DataFrame
   
   outputs: str

In [2]:
import pandas as pd

In [3]:
file_path = "demo.csv"
df = pd.read_csv(file_path,None)
#to show all columns
pd.set_option('display.max_columns', None)
# display(df)
df.head()

C:\Program Files\KMSpico\temp\ipykernel_1420\2863724606.py:2: FutureWarning: In a future version of pandas all arguments of read_csv except for the argument 'filepath_or_buffer' will be keyword-only.
  df = pd.read_csv(file_path,None)
C:\Program Files\KMSpico\temp\ipykernel_1420\2863724606.py:2: ParserWarning: Falling back to the 'python' engine because the 'c' engine does not support sep=None with delim_whitespace=False; you can avoid this warning by specifying engine='python'.
  df = pd.read_csv(file_path,None)

,﻿Emp ID,Name Prefix,First Name,Middle Initial,Last Name,Gender,E Mail,Father's Name,Mother's Name,Mother's Maiden Name,Date of Birth,Time of Birth,Age in Yrs.,Weight in Kgs.,Date of Joining,Quarter of Joining,Half of Joining,Year of Joining,Month of Joining,Month Name of Joining,Short Month,Day of Joining,DOW of Joining,Short DOW,Age in Company (Years),Salary,Last % Hike,SSN,Phone No.,Place Name,County,City,State,Zip,Region,User Name,Password
0,850297,Ms.,Shawna,W,Buck,F,shawna.buck@gmail.com,Rosario Buck,Keisha Buck,Hendricks,12/12/1971,06:34:47 AM,45.66,44,12/18/2010,Q4,H2,2010,12,December,Dec,18,Saturday,Sat,6.61,119090,17%,222-11-7603,702-771-7149,Las Vegas,Clark,Las Vegas,NV,89128,West,swbuck,ja8?k3BTF^]o@<&
1,304721,Mr.,Nathaniel,Z,Burke,M,nathaniel.burke@walmart.com,Derrick Burke,Phoebe Burke,Pugh,10/31/1993,02:02:38 AM,23.76,52,4/25/2017,Q2,H1,2017,4,April,Apr,25,Tuesday,Tue,0.26,117991,14%,550-99-9897,231-765-6923,Irons,Lake,Irons,MI,49644,Midwest,nzburke,tPA@4Wh9Ja$+Ln
2,412317,Drs.,Elisabeth,W,Foster,F,elisabeth.foster@gmail.com,Irwin Foster,Janie Foster,Delaney,11/26/1994,03:48:27 PM,22.68,42,3/27/2017,Q1,H1,2017,3,March,Mar,27,Monday,Mon,0.34,161045,28%,215-91-0004,270-749-4774,Lexington,Fayette,Lexington,KY,40501,South,ewfoster,5D.B4IGNkWJfG<~
3,621375,Mrs.,Briana,C,Lancaster,F,briana.lancaster@yahoo.com,Jeffrey Lancaster,Shelby Lancaster,Weiss,11/24/1975,09:44:16 PM,41.70,43,2/25/2003,Q1,H1,2003,2,February,Feb,25,Tuesday,Tue,14.43,142616,16%,534-71-1053,219-623-8216,Munster,Lake,Munster,IN,46321,Midwest,bclancaster,I%?JDM;pW
4,787549,Hon.,Estella,L,Potter,F,estella.potter@gmail.com,Booker Potter,Katelyn Potter,Pate,3/13/1995,09:30:28 PM,22.39,58,10/11/2016,Q4,H2,2016,10,October,Oct,11,Tuesday,Tue,0.79,135706,11%,644-29-6396,907-677-8486,Fairbanks,Fairbanks North Star,Fairbanks,AK,99709,West,elpotter,j4jkEXfC&Rh

## 1. Which month saw the highest joining of the employees

   function name: max_joinings_month()
   
   inputs: DataFrame
   
   outputs: str

In [4]:
def max_joinings_month(df):
    df = df['Month Name of Joining'].mode()
    return df

print("on demo.csv",max_joinings_month(df))

on demo.csv 0    April
Name: Month Name of Joining, dtype: object

In [5]:
#also a usefull information
df.groupby('Month Name of Joining')['Month of Joining'].max()

Month Name of Joining
April         4
August        8
December     12
February      2
January       1
July          7
June          6
March         3
May           5
November     11
October      10
September     9
Name: Month of Joining, dtype: int64

## 2. What is the mean salary in the state KS
   
   function name: mean_ks_salary()
   
   inputs: DataFrame
   
   outputs: float

In [6]:
def mean_ks_salary(df):
    d = (df.groupby('State')['Salary'].mean())

    return d['KS']
    # your code here

print("on demo.csv",mean_ks_salary(df))

on demo.csv 104225.45454545454

## 3. Which Region has highest mean salary
   
   function name: max_mean_salary_region()
   
   inputs: DataFrame
   
   outputs: str

In [7]:
def max_mean_salary_region(df):
    r = (df.groupby('Region')['Salary'].mean().idxmax())

    return r
    # your code here

print("on demo.csv",max_mean_salary_region(df))
# print("on test.csv",max_mean_salary_region(test_df))

on demo.csv Midwest

## 4. Which region has lowest mean salary
   
   function name: min_mean_salary_region()
   
   inputs: DataFrame
   
   outputs: str

In [8]:
def min_mean_salary_region(df):
    min_r = (df.groupby('Region')['Salary'].mean().idxmin())

    return min_r
    # your code here

print("on demo.csv",min_mean_salary_region(df))
# print("on test.csv",min_mean_salary_region(test_df))

on demo.csv West

## 5. Which City has highest mean weight
   
   function name: max_mean_weight_city()
   
   inputs: DataFrame
   
   outputs: str

In [10]:
def max_mean_weight_city(df):
    mx_w = (df.groupby('City')['Weight in Kgs.'].mean().idxmax())

    return mx_w
    # your code here

print("on demo.csv",max_mean_weight_city(df))

on demo.csv Conroe

## 6. What is the difference between mean salary of Doctors and Professors
   
   function name: dr_prof_mean_salary_diff()
   
   inputs: DataFrame
   
   outputs: float

In [12]:
def dr_prof_mean_salary_diff(df):
    doctors = df[df['Name Prefix'].str.contains('dr', case=False)].Salary.mean()
    professors = df[df['Name Prefix'].str.contains('prof', case=False)].Salary.mean()
    diff = doctors - professors
    print(type(diff))
    return abs(diff)

print("on demo.csv\n",'Difference:',dr_prof_mean_salary_diff(df))
# print("on test.csv",dr_prof_mean_salary_diff(test_df))

<class 'float'>
on demo.csv
 Difference: 2635.981785063763

In [62]:
df.columns

Index(['﻿Emp ID', 'Name Prefix', 'First Name', 'Middle Initial', 'Last Name',
       'Gender', 'E Mail', 'Father's Name', 'Mother's Name',
       'Mother's Maiden Name', 'Date of Birth', 'Time of Birth', 'Age in Yrs.',
       'Weight in Kgs.', 'Date of Joining', 'Quarter of Joining',
       'Half of Joining', 'Year of Joining', 'Month of Joining',
       'Month Name of Joining', 'Short Month', 'Day of Joining',
       'DOW of Joining', 'Short DOW', 'Age in Company (Years)', 'Salary',
       'Last % Hike', 'SSN', 'Phone No. ', 'Place Name', 'County', 'City',
       'State', 'Zip', 'Region', 'User Name', 'Password'],
      dtype='object')

In [67]:
df['Name Prefix'].value_counts()

Mr.      347
Ms.      227
Mrs.     161
Hon.      89
Dr.       64
Drs.      58
Prof.     54
Name: Name Prefix, dtype: int64

## 7. How many female use yahoo
   
   function name: females_with_yahoo()
   
   inputs: DataFrame
   
   outputs: int

In [13]:
def females_with_yahoo(df):
#     females = df.groupby('Gender')['E Mail'].value_counts().F.index.str.contains('yahoo').sum()
    females = df.groupby('Gender')['E Mail'].get_group('F').value_counts().index.str.contains('yahoo').sum()
    return females                                                              
                                                                            
    

print("on demo.csv",females_with_yahoo(df))
# print("on test.csv",females_with_yahoo(test_df))

on demo.csv 69

## 8. How many Doctors use gmail
   
   function name: doctors_with_gmail()
   
   inputs: DataFrame
   
   outputs: int

In [14]:
def doctors_with_gmail(df):
    doctors = df[df['Name Prefix'].str.contains('dr', case=False)]
    gmail_accounts = doctors["E Mail"].str.contains('gmail').sum()
    print(type(gmail_accounts))
    return gmail_accounts

print("on demo.csv\n",doctors_with_gmail(df))
# print("on test.csv",doctors_with_gmail(test_df))

<class 'numpy.int64'>
on demo.csv
 42

## 9. What is the password of the youngest male
   
   function name: youngest_male_password()
   
   inputs: DataFrame
   
   outputs: str

In [15]:
def youngest_male_password(df):
#     age = df["Age in Yrs."].min()
#     password = df[df['Age in Yrs.']== age].Password.values[0]
#     return password
    age = df['Age in Yrs.'].min() 
    df1= df.groupby('Gender')[['Password','Age in Yrs.']].get_group('M')
    password = df1[df1['Age in Yrs.'] == age].Password.values[0]
    print(type(password))
    return password
print("on demo.csv\n",youngest_male_password(df))
# print("on test.csv",youngest_male_password(test_df))

<class 'str'>
on demo.csv
 xPr\aGPTQ#v